{% extends "base.html" %}

{% block title%}Tracked flights{% endblock %}

{% block content %}
<h1>Your tracked flights</h1>
    <p>Looks like you're not currently tracking any flights.</p>
    <p>Add some to below get started!</p>

    <form action="{{url_for('view_tracking')}}" method="post">
        {{ form.csrf_token }}
        
        {{form.departure.label}} {{ form.departure }}
        {{form.destination.label}} {{ form.destination }}
        {{form.price.label}} {{ form.price }}
        
        {{ form.submit(class="bg-primary") }}

    </form>
{% endblock %}